html,
body {
  font-family : sans-serif;
  text-align  : left;
  font-weight : 400;
  font-size   : larger;
  color       : #11808A; 
}

#map {
  height   : 1000px;
  width    : 100%;
  padding  : 7px 5px;
}

div#wrapperHeader div#top_menu {
    position         : relative;
    border-color     : #111A33;
    box-shadow       : 0 1px 1px -1px #FFFFFF inset;
    background-color : #11808A;
    height           : 70px;
    width            : 100%;
    padding          : 7px 5px;
}
   
div#wrapperHeader div#top_menu img {
    width  : 350px; /* the width of the logo image */
    height : 100px; /* the height of the logo image */
    margin : 0 auto;
    padding: 5px;
   }